body {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/helloquence-5fNmWej4tAA-unsplash.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
}
thead {
	color: white;
}
.logout{
	text-align: right;
}
footer{
	    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-align: center
}