body {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/helloquence-5fNmWej4tAA-unsplash.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
}
thead {
	color: white;
}
.logout{
	text-align: right;
}
footer{
<<<<<<< HEAD
	color: white;
	text-align: center;
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
=======
	    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-align: center
}
.page-footer{
  color: white;
  text-align: center;
   position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
>>>>>>> 8e0b5e2870b5566675b8934eaa97c281f7c57220
}